<div id="products_head">
    <h1 id="prod_text"><%= yield :cabecera %></h1>
</div>
<%if user_signed_in?  %>
    <% if current_user.ugroupe_id == 1%>
        <%=render 'vista_admin/menu_admin'%>
    <%end%>
<%end%>

<div id="yield"> 
  <div id="current_order"><%=(link_to 'Current order', order_path(current_order)) if current_order%> </div>
  <%= yield %> 
</div>
