	<div id="menu">
        <div id="cat"> <%=link_to 'Todo', root_path, :class => "Todo" %></div>
            <% if @categories %>
                <% @categories.each do |c| %>
                    <div class="cat"><%= link_to c.name, category_path(c),:class => c.name%> </div> 
                <%end%>
            <%end%>
        </div>
