<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path, :class => "edit_reg") %>
  <% if current_user.ugroupe_id == 1 %>
      &nbsp;&nbsp;<%= link_to('Zona Admin', root_path, :class => "admin_zone")%>
  <%end%>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>
