/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */
/**** Codigo mio ^^ ****/
.body_full{
 margin: 0, auto;
 width:100%;
}

#head, #body, #footer {
  margin: 0 auto;
  width: 980px;
 }

#logo {
    top: 0px;
    width: 980px;
    height: 105px;
    float: left;
    background-image: url(logo.png);}

#body {
    padding-top: 10px;
}
#yield {
    background-color: #FFF;}

#head {
    height: 105px;
}
.hmenu{
    color: green;
}

ul.hmenu li{
    font-color: #880000;
    display: inline;
    float: right;
    margin: 10px;
    font-family: "helveticaRd",helvetica,arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.hmenu a.hover {
    color: green;
}

.hmenu a{
    color: #880000;}
/*** MENU ***/

#menu {
    width: 100%;
    height:52px;
    font-weight: bold;
    font-size:14px;
    font-family: "helveticaRd",helvetica,arial,sans-serif;
}

.cat {
    background-image: url(menucito.png);
    background-repeat: no-repeat;
    float:left;
    margin-left: 16px;
    margin-bottom: 10px;
    width: 150px;
    height: 52px;
    text-align:center;
    line-height:50px;
}

#cat{
    background-image: url(menucito.png);
    background-repeat: no-repeat;
    float:left;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 150px;
    height: 52px;
    text-align:center;
    line-height:50px;
}

#menu a:hover {
    color: green;
}

#menu a{
    color: #880000;
}

#admin_menu{
    float:left;
    width:100%;
    background-color: #FFF;
}
.admin_cat {
    float: left;
    height:40px;
    padding-top: 5px;
}
.admin_cat a {
    padding-left:10px;
    padding-right:5px;
}
/*** CUERPO PRODUCTOS ***/

#content {
    margin 0, auto;
}

#products_head {
    float: left;
    width: 980px;
    height: 39px;
    background: url(products_head.png);
    position: relative;
    font-family: "helveticaRd",helvetica,arial,sans-serif;
}

#products_head h1 {
    float: left;
    width: 960px;
    color:#B80000;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 15px;
}

#products_list, #yield{
    float: left;
    width: 975px;
    padding-left: 5px;
    padding-bottom: 6px;
    background-color: #FFF;
    overflow: hidden;
}

#products_footer {
    float: left;
    width: 980px;
    height: 10px;
    background: url(products_footer.png);
    position: relative;
    margin-bottom: 16px;
}

/*** VISTA DE PRODUCTOS ***/

.item_product {
    float: left;
    width: 178px;
    height: 350px;
    margin-right: 15px;
    margin-top: 15px;
}

.item_product_image img {
    float: center;
    width: 178px;
}


.item_product_text {
    float: right;
    width: 178px;
    font-size: 11px;
    font-family: "helveticaRd",helvetica,arial,sans-serif;
}
.item_product_text h2 {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color:#B80000;
    float: left;
    width: 100%;
}

.item_product_description {
    width: 100%;
    float: left;
    padding-top: 5px;
    margin-bottom: 15px;
}
.price {
    width: 100%;
    margin-bottom: 10px;
}

/*** FOOTER ***/
#center_footer, #footer_image {
  width: 100%;
  float: left;
}
#footer_image{
  background: url(footer.png);
  width: 980px;
  float: left;
  height: auto!important;
  min-height: 70px;
  position: relative;
  margin-bottom: 16px;
}

#footer_text {
  width: 857px;
  padding-left: 16px;
  padding-top: 12px;
  color: #FFF;
  font-size: 11px;
}

#footer_text p, #footer_text a{
  color:#B80000;
  font-family: "helveticaRd",helvetica,arial,sans-serif;
}

#footer_text a:hover {
  color: #000000;
}
