<div id="admin_menu">
    <div class="admin_cat"> 
        <%= link_to 'Types', types_path%>
        <%= link_to 'Products', products_path%>
        <%= link_to 'Groups', ugroupes_path%>
        <%= link_to 'User Administration', root_path%>
    </div>
</div>
