
<table>
    <tr>
    <th>Num Pedido</th>
    <th>Estado</th>
    <th>Ver Pedido</th>
  </tr>
<% if @corders %>
<% @corders.each do |corder| %>
    <tr>
    <td><%= corder.id %></td>
    <td>
      <%unless corder.finished %>
        En proceso...
      <%else%>
        Terminado
      <%end %>
    </td>
    <td><%= link_to 'Show', corder, :class => 'esd' %></td>
  </tr>
<% end %>
<%end%>
</table>
